body{
    background:blue;
    font-family: Montserrat,"sans-serif";
    display: flex;
    justify-content: center;
    color: #303030;
}

.contactez-nous {
    width: 700px;
    border: 1px solid;
    border-radius: 8px;
    padding: 0 50px 0 50px;
    background-color: white;
}

.contactez-nous > h1 {
font-weight: 300
}

form div {
    width: 100;
    color:re ;
}